.signin__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.signin__form--label {
  color: aliceblue;
  margin: 0 8px 0 !important;
}

.signin__input--black {
  background-color: transparent;
  border: 1px aliceblue solid;
  color: aliceblue;

  &:hover,
  &:focus {
    border-color: #ec407a !important;
  }

  .ant-input {
    background-color: transparent;
    color: aliceblue;
  }
  .ant-input-suffix {
    span {
      color: aliceblue !important;
      &:hover {
        color: #ec407a !important;
      }
    }
  }
}

.signin__checkbox {
  color: aliceblue;
}
