.pairing__wrapper {
  width: 100%;
  height: 100%;
  padding: 10px 0;
  max-height: 70vh;
  overflow: auto;
}

.pairing__wrapper h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}

.pairing__form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}

.pairing__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% / 4);
  position: relative;
  border-radius: 6px;
  img {
    border: 4px solid #df9322ad;
    width: 100%;
    height: 150px;
    border-radius: 6px;
    object-fit: cover;
  }
  h4 {
    position: absolute;
    bottom: -10px;
    color: #fff;
  }
}
